/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Generic CSS Starter
   - BoxSizing accounts for borders, margin and padding.
   - Border is visible to help visualize HTML elements.
   - MaxWidth of children can never be greater than the parent size.
 */

* {
  box-sizing: border-box;
  border: 1px solid black;
  max-width: 100%;
}

/* General Website Styles
   - Set the default "rem" size to 10px.
   - Set the default font size to 16px (1.6rem).
   - Set the height of a line to 1.5 times the font size.
   - Set the primary font family to "RobotoMono".
 */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'RobotoMono', monospace;
}

h1 {
  font-size: 4.8rem;
  font-weight: bold;
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0rem;
  padding: 2% 0;
}

nav {
  display: flex;
  flex-direction: column;
}

button {
  background-color: white;
  color: black;
  border: black solid 1px;
  padding: 5px 15px;
  width: 12rem;
  height: 3rem;
}

button:hover {
  background-color: black;
  color: white;
  border: blue solid 1px;
}

button a {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
}

.btn-nth {
  margin-top: -1px;
}

.top-section, .description {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  padding: 2% 10%;
}

.top-section img {
  border: solid blue 1px;
}

.description p {
  text-align: center;
  font-size: 1.2rem;
}

.projects {
  /* formatting properties */
  text-align: center;
  padding: 5% 10%;
  

  /* flexbox properties */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 10%;
  
}

.wrapper {
  /* formatting properties */
  text-align: center;

  /* flexbox properties */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 3rem;

}

.portfolio-element {
  /* formatting properties */
  text-align: center;
 
  /* flexbox properties */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}

.portfolio-element img {
  text-align: center;
  border: solid blue 1px;
}

.portfolio-element p {
  text-align: center;
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

footer {
  /* formatting properties */
  background-color: lightgray;
  text-align: center;
  padding: 5% 10%;
  border-top: 1px solid blue;

  /* flexbox properties */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
}


/* default (smallest allowable screen) */


/* if screen width is greater than or equal to 500px... */
@media (min-width: 500px) {

  button:hover {
    border: yellow solid 1px;
    z-index: 1;
  }
  
  .top-section img {
    border: solid yellow 1px;
  }

  .portfolio-element img {
    border: solid yellow 1px;
  }
  footer {
    border-top: 1px solid yellow;
  }

}

/* if screen width is greater than or equal to 800px... */
@media (min-width: 800px) {
  header {
    align-items: flex-start;
    align-content: center;
    background-color: lightgray;
    padding: 2% 10%;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
  }

  button:hover {
    background-color: black;
    color: white;
    border: red solid 1px;
    z-index: 1;
  }
  

  .btn-nth {
    margin-top: 0px;
    margin-left: -1px;
  }

  .top-section {
    flex-direction: row;
  }
  
  .top-section img {
    border: solid red 1px;
  }

  .description {
    align-items: flex-start;
    padding: 2% 5%;
  }

  .description p {
    text-align: left;
    font-size: 1.6rem;
  }

  .projects {
  
    /* flexbox properties */
    flex-direction: column;
    gap: 4rem;
    
  }
  
  .wrapper {  
    /* flexbox properties */
    flex-direction: row;
  }
  
  .portfolio-element {
    /* formatting properties */
    text-align: center;
   
    /* flexbox properties */
    flex-direction: column;
  }
  
  .portfolio-element img {
    border: solid red 1px;
  }

  .hidden {
    display: block;
  }

  footer {
    /* formatting properties */
    padding: 3% 6%;
    border-top: 1px solid red;
  }

}

